*{
    padding: 0px;
    margin: 0px;
}

.home{
    background-color: white;
}
.header{
    background-image: url("./bg-3.gif");
    background-size: 100%;
    background-color: #cccccc;
    width: 100%;
    height: 600px;
    font-family: 'roc-grotesk', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .52px;
    
    
}

.titleheader{
    padding-top: 150px;
    padding-left: 60px;
    text-transform: uppercase;
    text-align: center;


}
.tite-header1{
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: dashed;

}

.tite-header2{
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: dashed;
   

}



.tite-header1:hover {
    box-shadow: inset 0 100px 0 0 #000000;
    border: #cccccc;
    border-style: dashed;
    border-width: 1px ;
    color: #f0c52f;
}

.tite-header2:hover {
    box-shadow: inset 0 100px 0 0 #000000;
    border: #cccccc;
    border-style: dashed;
    border-width: 1px ;
    color: #f0c52f;
}

.header h1{
 
    width: 300px;
    display: flex;
    line-height: 45px;
    background-color: #f0c52f;
    padding: 10px;
  
 }
 .movement h3 {
    font-size: 25px;
 }
 .movement h4{
margin-top: 20px;
margin-bottom: 4px; }

 .movement{
    width: 20%;
    height: 30%;
    background-color: #fff;
    width: 368px;
    height: 173px;
    border-radius: 7px;
    padding: 30px 28px 20px;
    transition: all 0.5s linear;
    font-family: 'Mongoose', sans-serif;
    letter-spacing: 2px;
    color: #1e1e1e;
    text-align: left;
    position: relative;
 }
 .iconName{
    display: flex;

 }
 .iconName img{
    margin-left: 120px;
    margin-top: -10px;
    width: 20%;
 }
 .line{
    content: '';
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #000000;
top: 107px;
    bottom: 70px;
    left:190px;

 }
 .movement button{
    margin: 43px;
margin-left: 58px;}

.mov3{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;

}

.movement:hover {
    box-shadow: inset 0 300px 0 0 #f0c52f;

}
.body{
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: white;
    justify-content: center;
    margin-top: 100px;


}

.services_section {
    margin-top: -150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
    margin-left: -43px;
  
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.row{
    display: flex;
    margin-left: 100px;
    text-align: center;

}

.row p {
    padding: 50px;
}

#simpleimage-2{
    background-color: #f0c52f;
    color: black;
}
#simpleimage-3{
    background-color: #f5c720;
    color: black;
}

#simpleimage-4{
    background-color: #1e1e1e;
    color: white;

}

#simpleimage-5{
    background-color: #000000;
    color: white;

}

.MinDiscLeft1{
    margin-top: 30px;
    margin-left:330px;
    width: 60%;
    line-height: 30px;
    text-align: left;

}

.lineMinLeft1{
    width: 495px;
    height: 3px;
    background-color: #f0c52f;
    margin-top: 20px;
    margin-left: 210px;
}

.MinDiscLeft1 p {

    margin-top: 15px;
    font-size: 20px;
    text-align: center;

    line-height: 25px;
    font-weight: 500;
}
.MinDiscLeft1 h1 {

    text-align: center;
}



.photo_desc{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.photo_1{
    margin-top: -90px;
    margin-bottom: 20px;
    background-image: url("./homepic1.jpg");
    background-size: 100%;
    width: 100%;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}


.home a{

color: black;  
  text-decoration: none;
}


.photo_1 button{

    margin-left: 100px;
    margin-top: 25px;


    width: 200px;
    height: 60px;
    font-weight: 600;
    font-size: large;
}

.photo_1 p {
    padding-left: 75px;
    padding-top:100px ;
    text-align: left;
    width: 40%;
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-top: 150px;
    text-transform: uppercase;



}