.ship {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Mongoose', sans-serif;
  background-color: white;


}
.ship h5{
  font-family: 'roc-grotesk-wide', sans-serif;
  font-size: 13px;
  color: #f0c52f;
  text-align: center;
}
select {
  color: #292b2c;
  font-size: 13px;
  line-height: 36px !important;
  background: #fff;
  border-radius: 5px;
  border: 1px solid gray;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 10px;
  display: block
}
.inputTop{
  display: flex;
flex-direction: column;
}
.inputMin{
  display: flex;
  width: 50%;
  gap: 0 30px;
  flex-wrap: wrap;
  margin-left: 40px;


}
.inputMin input{
width: 355px;
  
}
.login__form {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.ship > h1 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
  font-family: 'Mongoose', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 0.88;
    letter-spacing: 2px;
    color: #1e1e1e;
}
.lship> h5 {
  letter-spacing: -1px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top:-20px;
}

.zoneText{
  margin:15px;
  margin-left: 0px;
}
.ship h1{
text-align: center;
margin-top: 50px;
margin-bottom: 20px;
letter-spacing: 10px 10px;
line-height: 1.2;


}

.ship input{
  
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

.ship label{
  font-size: 12px;
  color: gray;
}

.ship span{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.ship input:invalid[focused="true"]{
  border: 1px solid red;
}

.ship input:invalid[focused="true"] ~ span{
  display: block;
}

.submit__btn{
  width: 20%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

}
.ship button:hover {
    box-shadow: inset 0 100px 0 0 #000000;
    color: #f0c52f;
}
.ship h2{
  font-size: 20px;
  font-family: 'roc-grotesk-wide', sans-serif;
 gap:10px;
 margin-bottom: 15px;
 margin-top: 15px;

}
.checkBox h3{
  font-size: 15px;
  font-family: 'roc-grotesk-wide', sans-serif;
}

input[type=checkbox] {
 margin-top: -1px;
  width: 20px;
  height: 20px;
  gap: 10px;
  margin-right: 50px;
  margin-left: 50px;

}

.checkBox1,.checkBox2{
display: flex;
}

.login1{
  margin-top: -700px;
width: 300px;
margin-bottom: 20px;
}


.option_message{
  width: 100%;
margin-left: 800px;
}
.option_message select{
  width: 25%;
}
.option_message input {
width: 40%;
height: 50px;

}