.bgabout{
    background-color: white;

}

.about{
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
width: 72%;
}
.about h2{
    margin: 10px;

}

.about_img{
    margin-top: 30px;
    width: 90%;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.about_img img{
    width: 40%;
    flex-wrap: wrap;
    margin: 10px;

}